
<h1>対戦募集作成</h1>
<hr>
<%= form_for @match_req do |f| %>
  <div class="field">
    <%= f.label :title,"タイトル" %><br />
    <%= f.text_field :title, autofocus: true, autocomplete: "title",:class => "form-control my-form" %>
  </div>
  
  <div class="field">
    <%= f.label :content,"募集詳細" %><br />
    <%= f.text_area :content, autofocus: true, autocomplete: "content",:class => "form-control my-form" %>
  </div>
  
  <div class="field">
    <%= f.label :facility_id,"開催施設" %><br />
    <%= f.select :facility_id, [["品川フットサルコート", 1], ["ビックロ新宿スタジアム", 2],["東陽町コート", 3], ["アディダスフットサルパーク渋谷", 4],["東京フットサルクルービ芝浦", 5]],  :prompt => "選択してください", :class => "form-control my-form" %>
  </div>
  
  <div class="field">
    <%= f.label :match_date,"開催日" %><br />
   <%= f.date_field :match_date %>
  </div>
  
  <div class="field">
    <%= f.label :start_time,"開始時間" %><br />
   <%= f.time_select :start_time, :minute_step => 30 %>
  </div>
  
  <div class="field">
    <%= f.label :end_time,"終了時間" %><br />
 <%= f.time_select :end_time, :minute_step => 30 %>
  </div>

  <div class="field">
    <%= f.label :req_team_num,"募集チーム数" %><br />
    <%= f.number_field :req_team_num, autofocus: true, autocomplete: "req_team_num",:class => "form-control my-form"%>
  </div>
  <br>
   <%= f.submit "対戦作成", :class => "btn-gradient-3d my-form" %>
  <% end %>
  <hr>
<p><a href="/" class="btn-gradient-3d">トップに戻る</a></p>
 