<h1>対戦募集詳細</h1>
<hr>
<h3>タイトル</h3>
<h4><%= @match_req.title %></h4>
<h3>コメント</h3>
<h4><%= @match_req.content %></h4>
<h3>開催日</h3>
<h4><%= @match_req.match_date %></h4>
<h3>開催時間</h3>
<h4><%= @match_req.start_time.strftime(" %H時 %M分 ") %></h4>
<h3>開催施設</h3>
<h4><%= @match_req.facility %></h4>
<br>
    <% if @match_req.team_id == current_team.id %>
        <p><a href="/match_reqs/<%= @match_req.id %>/edit" class="btn btn-success">対戦募集を変更する</a></p>
        <a href="/match_reqs/<%= @match_req.id %>" data-method="delete" class="btn btn-danger">募集を削除する</a>
    <% else %>
        <% if  challenge_exist(@match_req.id) %>
            <%= form_for @challenge do |f| %>
                <%= f.hidden_field :match_req_id, :value => @match_req.id %>
                <%= f.submit "応募する" ,:class => "btn btn-danger my-form" %>
            <% end %>
        <% else %>
            <p class="challenged">応募済み</p>
        <% end %>
    <% end %>
<br><br>
<hr>
<p><a href="/match_reqs" class="btn btn-primary">対戦募集一覧に戻る</a></p>