<br>
<div class="row">
    <div class="col-xs-3 text-center">
    <h3><%= @room.name %></h3>
    <h3><small><%= @room.explain %></small></h3>
    <hr>
    <h4>参加者</h4>
    <% @entries.each do |e| %>
    <h5><strong><a href="/teams/<%= e.team.id %>"><%= e.team.name %></a></strong></h5>
    <% end %>
    <hr>
    <a href="/rooms/<%= @room.id %>/edit" class="btn btn-success">情報を編集する</a>
    </div>
    <div class="col-xs-9">
        <% if @messages.present? %>
        <% @messages.each do |m| %>
        <% if m.team_id == current_team.id %>
        <h4 class="text-right">
            <p class="alert alert-success">
                <%= m.message %>
                <br><br>
                <small><strong><a href="/teams/<%= m.team_id %>"><%= m.team.name %></a></strong></small>
            </p>
        </h4>
        <% else %>
         <h4 class="text-left">
            <p class="alert alert-info">
                <%= m.message %>
                <br><br>
                <small><strong><a href="/teams/<%= m.team_id %>"><%= m.team.name %></a></strong></small>
            </p>
        </h4>
            <% end %>
        <% end %>
        <% else %>
        <br>
        <h3 class="text-center">メッセージはまだありません</h3>
        <br>
        <% end %>
        <hr>
        <div class="text-center">
        <%= form_for @message do |f| %>
        <%= f.text_field :message, :class => "form-control",:placeholder => "入力してください" %>
        <%= f.hidden_field :room_id, :value => @room.id %>
        <br>
        <%= f.submit "コメントする", :class => "btn btn-primary" %>
        <% end %>
        </div>
    </div>
</div>